
h1 {
    margin-top: 50px;
    font-size: 3em;
    color: #001c41;
    font-family: 'Gugi', cursive;
    font-weight: 800;
    padding: 10px;
}

body {
	text-align: center;
    background: linear-gradient(rgba(255,255,255,.02),rgba(95,95,95,.02)), url("images/background2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: gainsboro;
}

div{
    display: inline-block; 
    text-align: left;
    font-family: 'Gugi', cursive;
    background-color: rgba(0,19,44,.5);
    border: 3px double #00132c;
    padding: 20px;
    padding-bottom: 8px;
    border-radius: 25px;
}

#button{
    display: inline-block; 
    padding: 10px;
    text-align: center;
}


